body {
    background: #F6FFF4;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #FF503D;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #1D231B;
    font-weight: 100;
    font-size: 1.125rem;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: rgba(91, 206, 53, 0.575);
}

#mainNavbar .nav-link:hover {
    color: #F48B53;
}

#mainNavbar .navbar-brand {
    color: #F48B53;
}

#headingGroup span {
    color: #5BCE35;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
    color: #FF503D;
}

.navbar.scrolled {
    background: #E0E8DE;
    transition: background 600ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}